<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section>
    <style=" background-color: hsla(0, 0%, 100%, 0.9) !important; backdrop-filter: saturate(200%) blur(25px)">
        </style>
        <div class="container   bg-glass">
            <table class="table  mt-5 ">
                {{#if products}}
                <thead>
                    <tr>
                        <th scope="col">Products</th>
                        <th scope=" col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <td><img style="width: 70px;height: 70px;  " src="/product-images/{{this.product._id}}.jpg"
                                alt=""></td>
                        <td style="font-family: 'Rubik', sans-serif;"> {{this.product.Name}} </td>
                        <td style="font-family: 'Rubik' , sans-serif;">Rs.{{this.product.Price}} </td>
                        <td>

                            <button type="button" id="minus" class="quantity-left-minus btn btn-danger btn-number "
                                onclick="changeQuandity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                            </span>

                            <span class="text-center" name=" quantity"
                                id="{{this.product._id}}">{{this.quantity}}</span>


                            <button type="button" class="quantity-right-plus btn btn-success btn-number "
                                onclick="changeQuandity('{{this._id}}','{{this.product._id}}','{{../user}}',1)">
                                <span class="glyphicon glyphicon-plus">
                            </button>
                        </td>

                        <td>
                            <button id=" Remove" class=" btn btn-danger"
                                onclick=" removeProduct ('{{this._id}}','{{this.product._id}}')">
                                remove</button>
                        </td>
                    </tr>

                    {{/each}}
                </tbody>
            </table>
            <hr>
            <div class=" float-right pr-5">
                <h5 class="float-left mr-5"> TOTAL: RS.<span id="total">{{totalValue}}</span> </h5>
                <br> <a href=" /place-order" class="btn btn-secondary  btn btn-outline-success mt-3" id="place-order"
                    style="width: 100%,">
                    <b>Place Order</b>
                </a>
            </div>
            {{else}}
            <div class="row text-center">
                <div class="col-md-9 col-sm-9 m-auto">
                    <h2>No items in the cart</h2>
                </div>
            </div>
            {{/if}}
        </div>
</section>

<script src=" /javascripts/cart.js"></script>