<section>

    <style=" background-color: hsla(0, 0%, 100%, 0.9) !important; backdrop-filter: saturate(200%) blur(25px)">
        </style>
        <div class="container   bg-glass">
            <table class="table  mt-5 ">
                <thead>
                    <tr>
                        <th scope="col">Products</th>
                        <th scope=" col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>


                        <td><img style="width: 70px;height: 70px;" src="/product-images/{{this.product._id}}.jpg"
                                alt="">
                        </td>
                        <td>{{this.product.Name}}

                        </td>
                        <td>
                            <button class="cart-item-count  btn btn-primary mr-3"
                                onclick="changeQuandity('{{this._id}}',' {{this.product._id}}',-1)">-</button>
                            <span id="{{this.product._id}}">{{this.quantity}}</span>
                            <button class=" cart-item-count btn btn-primary mr-3"
                                onclick="changeQuandity('{{this._id}}',' {{this.product._id}}',1)">+</button>
                        </td>

                        <td>
                            <a href="" class="btn btn-danger">Remove</a>
                        </td>
                        {{/each}}
                </tbody>
            </table>
        </div>
</section>
<script>
    function changeQuandity(cartId, proId, count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)


        $.ajax({
            url: '/change-product-Quandity',
            data: {
                cart: cartId,
                product: proId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    alert("Product Removed from Cart")
                    location.reload()
                } else {
                    document.getElementById(proId).innerHTML = quantity + count
                }
            }


        })
    }
</script>