<section>

    <style=" background-color: hsla(0, 0%, 100%, 0.9) !important; backdrop-filter: saturate(200%) blur(25px)">
        </style>
        <div class="container   bg-glass">
            <table class="table  mt-5 ">
                {{#if products}}
                <thead>
                    <tr>
                        <th scope="col">Products</th>
                        <th scope=" col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <td><img style="width: 70px;height: 70px;  " src="/product-images/{{this.product._id}}.jpg"
                                alt=""></td>
                        <td style="font-family: 'Rubik', sans-serif;"> {{this.product.Name}} </td>
                        <td style="font-family: 'Rubik' , sans-serif;">Rs.{{this.product.Price}} </td>
                        <td>

                            <button class="cart-item-count btn btn-primary mr-3"
                                onclick="changeQuandity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">
                                -</button>
                            <span id="{{this.product._id}}">{{this.quantity}}</span>
                            <button class="cart-item-count btn btn-primary mr-3"
                                onclick="changeQuandity('{{this._id}}','{{this.product._id}}','{{../user}}',1)">+</button>
                        </td>

                        <td>
                            <button id=" Remove" class=" btn btn-danger"
                                onclick=" removeProduct ('{{this._id}}','{{this.product._id}}')">
                                remove</button>
                        </td>
                    </tr>

                    {{/each}}

                </tbody>
            </table>
            <hr>
            <div class=" float-right pr-5">
                <h5 class="float-left mr-5"> TOTAL: RS.<span id="total">{{totalValue}}</span> </h5>
                <br> <a href=" /place-order" class=" btn btn-success mt-3" style="width: 100%;">
                    <b>Place Order</b>
                </a>
            </div>
            {{else}}
            <div class="row text-center">
                <div class="col-md-9 col-sm-9 m-auto">
                    <h2>No items in the cart</h2>
                </div>
            </div>
            {{/if}}
        </div>
</section>
<script>
    function changeQuandity(cartId, proId, userId, count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)
        console.log(userId)

        $.ajax({
            url: '/change-product-quandity',
            data: {
                user: userId,
                cart: cartId,
                product: proId,
                count: count,
                quantity: quantity,
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    alert("Product Removed from Cart")
                    location.reload()
                } else {
                    document.getElementById(proId).innerHTML = quantity + count
                    document.getElementById('total').innerHTML = response.total

                }
            }

        })
    }

</script>
<script>
    function removeProduct(cartId, proId) {
        $.ajax({
            url: '/remove-product',
            data: {
                product: proId,
                cart: cartId,
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    alert('Product Removed Successfully');
                    location.reload();
                } else {
                    document.getElementById(proId).innerHTML = response.removeProduct
                }
            }
        });

    };

</script>