<section>
    {{#if orders}}
    <style="background-color: hsla(0, 0%, 100%, 0.9) !importantimportant; backdrop-filter: saturate(200%) blur(25px)">
        </style>
        <div class="container   bg-glass">
            <table class="table  mt-5 ">
                <thead>
                    <tr>

                        <th scope="col">Date</th>
                        <th> Address</th>
                        <th>apartment</th>
                        <th>Mobile</th>
                        <th scope="col">totalAmount</th>
                        <th scope="col">payment details</th>
                        <th>status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}


                    <tr>

                        <td>{{this.date}} </td>
                        <td>{{this.deliveryDetails.houseadd}}</td>
                        <td>{{this.deliveryDetails.apartment}}</td>
                        <td>{{this.deliveryDetails.mobile}}</td>
                        <td>{{this.totalAmount}}</td>
                        <td>{{this.paymentMethord}}</td>
                        <td>{{this.status}}</td>



                        <td>
                            <a href="/view-order-products/{{this._id}}" class="btn btn-primary">View Products</a>

                    </tr>
                    {{/each}}

                    </td>
                </tbody>
            </table>
            <hr>

            </a>
        </div>
        </div>
        {{else}}
        <h2>You have not ordered a single product </h2>
        {{/if}}
</section>
<script>
    function changeQuandity(cartId, proId, userId, count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)
        console.log(userId)

        $.ajax({
            url: '/change-product-quandity',
            data: {
                user: userId,
                cart: cartId,
                product: proId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    alert(" Product Removed from Cart") location.reload()
                } else {
                    document.getElementById(proId).innerHTML = quantity + count
                    document.getElementById('total').innerHTML = response.total
                }
            }
        })
    }

</script>