<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            {{product.Name}}
        </li>
    </ol>
</nav>
<div class="container">
    <!-- Product info -->
    <div class="row mt-4 mb-4">
        <div class="col-md-5 mt-2 mr-2 ml-auto">

            <script>
                function imageZoom(imgID, resultID) {
                    var img, lens, result, cx, cy;
                    img = document.getElementById(imgID);
                    result = document.getElementById(resultID);
                    /*create lens:*/
                    lens = document.createElement("DIV");
                    lens.setAttribute("class", "img-zoom-lens");
                    /*insert lens:*/
                    img.parentElement.insertBefore(lens, img);
                    /*calculate the ratio between result DIV and lens:*/
                    cx = result.offsetWidth / lens.offsetWidth;
                    cy = result.offsetHeight / lens.offsetHeight;
                    /*set background properties for the result DIV:*/
                    result.style.backgroundImage = "url('" + img.src + "')";
                    result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
                    /*execute a function when someone moves the cursor over the image, or the lens:*/
                    lens.addEventListener("mousemove", moveLens);
                    img.addEventListener("mousemove", moveLens);
                    /*and also for touch screens:*/
                    lens.addEventListener("touchmove", moveLens);
                    img.addEventListener("touchmove", moveLens);
                    function moveLens(e) {
                        var pos, x, y;
                        /*prevent any other actions that may occur when moving over the image:*/
                        e.preventDefault();
                        /*get the cursor's x and y positions:*/
                        pos = getCursorPos(e);
                        /*calculate the position of the lens:*/
                        x = pos.x - (lens.offsetWidth / 2);
                        y = pos.y - (lens.offsetHeight / 2);
                        /*prevent the lens from being positioned outside the image:*/
                        if (x > img.width - lens.offsetWidth) { x = img.width - lens.offsetWidth; }
                        if (x < 0) { x = 0; }
                        if (y > img.height - lens.offsetHeight) { y = img.height - lens.offsetHeight; }
                        if (y < 0) { y = 0; }
                        /*set the position of the lens:*/
                        lens.style.left = x + "px";
                        lens.style.top = y + "px";
                        /*display what the lens "sees":*/
                        result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
                    }
                    function getCursorPos(e) {
                        var a, x = 0, y = 0;
                        e = e || window.event;
                        /*get the x and y positions of the image:*/
                        a = img.getBoundingClientRect();
                        /*calculate the cursor's x and y coordinates, relative to the image:*/
                        x = e.pageX - a.left;
                        y = e.pageY - a.top;
                        /*consider any page scrolling:*/
                        x = x - window.pageXOffset;
                        y = y - window.pageYOffset;
                        return { x: x, y: y };
                    }
                }
            </script>

            </head>

            <body>
                <div class=" a-column a-span12 a-text-center">
                    <span id="canvasCaption" class="a-color-secondary">Roll over image to zoom in</span>
                </div>
                <div class=" img-zoom-container">
                    <img id="myimage" src=" /product-images/{{product._id}}.jpg"
                        style="max-height: 309px; max-width: 309px;" data-a-manual-replacement="true">
                    <div id="myresult" class="img-zoom-result"></div>
                </div>

                <section>

                </section>
                <script>
                    // Initiate zoom effect:
                    imageZoom("myimage", "myresult");
                </script>

            </body>

            </html>

        </div>
        <div class="col-md-5 mt-2 mb-2 ml-2 mr-auto text-dark">
            <h2>
                {{product.Name}}
            </h2>
            <hr />

            <div class="showcase-star">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </div>


            <p class="price">₹ {{ product.Price}}
            </p>


            <p class="pricedetail">
                Inclusive of all taxes
            </p>
            <p class="lead"> Description:
            <p>
                {{this.product.Description}}
            </p>
            </p>
            <p><strong>Category:</strong>
                {{this.product.Category}}
            </p>
            <p><strong>Brand: </strong>
                {{this.product.Brand}}
            </p>
            {{#if user}}
            <button onclick="addToCart('{{this.product._id}}')" class=" btn btn-primary"> Add to Shopping
                Cart</button>
            {{else}}
            <a class=" btn btn-primary" href="/user/signup"> Add to Shopping
                Cart</a>
            {{/if}}


        </div>
    </div>
</div>