<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            {{product.Name}}
        </li>
    </ol>
</nav>
<div class="container">
    <!-- Product info -->
    <div class="row mt-4 mb-4">
        <div class="col-md-5 mt-2 mr-2 ml-auto">

            <script src="/javascripts/over-viewProduct-zoom.js"></script>
            </head>

            <body>
                <div class=" a-column a-span12 a-text-center">
                    <span id="canvasCaption" class="a-color-secondary">Roll over image to zoom in</span>
                </div>
                <div class=" img-zoom-container">
                    <img id="myimage" src=" /product-images/{{product._id}}.jpg"
                        style="max-height: 309px; max-width: 309px;" data-a-manual-replacement="true">
                    <div id="myresult" class="img-zoom-result"></div>
                </div>

                <section>

                </section>
                <script>
                    // Initiate zoom effect:
                    imageZoom("myimage", "myresult");
                </script>

            </body>

            </html>

        </div>
        <div class="col-md-5 mt-2 mb-2 ml-2 mr-auto text-dark">
            <h2>
                {{product.Name}}
            </h2>
            <hr />

            <div class="showcase-star">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </div>
            <p class="price">₹ {{ product.Price}}
            </p>

            <p class="pricedetail">
                Inclusive of all taxes
            </p>
            <p class="lead"> Description:
            <p>
                {{this.product.Description}}
            </p>
            </p>
            <p><strong>Category:</strong>
                {{this.product.Category}}
            </p>
            <p><strong>Brand: </strong>
                {{this.product.Brand}}
            </p>
            {{#if user}}

            <button onclick="addToCart('{{this.product._id}}')" class=" btn btn-primary"> Add to Shopping
                Cart</button>

            <a class=" btn btn-primary" href="/reviews/{{this.product._id}}"> Add Product Review</a>
            {{else}}
            <a class=" btn btn-primary" href="/user/signup"> Add to Cart</a>
            <a class=" btn btn-primary" href="/user/signup"> Add Product Review</a>
            {{/if}}
        </div>
    </div>
    <div>
    </div>
</div>

{{!--
//=============================// --}}




<link rel="stylesheet" href="/stylesheets/reviewView.css">


<!-- Contenedor Principal -->

<div class="comments-heignt">
    {{#if reviews}}
    <h1>Top reviews from India</h1>

    {{#each reviews}}
    <div class="comments-container">
        <ul id="comments-list" class="comments-list">
            <li>
                <div class="comment-main-level">
                    <!-- Avatar -->
                    <div class="comment-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </div>
                    <!-- Contenedor del Comentario -->

                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name by-author"><a id="username" href="">
                                    {{this.userName}}
                                </a></h6>
                            <span>{{this.date}}</span>

                        </div>
                        <div class="comment-content">
                            {{this.commant}}
                        </div>

                        {{#each ../Value}}
                        {{#if ../Value}}

                        <a href="/delete-review/{{../user._id}}" id="successDelete" class="link-warning"
                            onclick="return confirm('Are you want to delete this review ?')">
                            Delete</a>


                        <a href="/update-review/{{this._id}}" id="successupdates" class="link-success" {{!--
                            onclick="return confirm('Are you want to update this review ?')"> --}}
                            > update</a>
                        {{/if}}
                        {{/each}}

                    </div>
                </div>
    </div>
</div>
{{/each}}
{{else}}
<li class="list-group-item text-center">There are no reviews</li>
{{/if}}
</div>
</div>